cmake_install.cmake
progress.marks
Makefile
flags.make
progress.make
CMakeCache.txt
CMakeFiles
bin/haplotypes
.idea
external/htslib
external/bcftools
external/samtools
example/integration/integrationtest_lhs.vcf.gz
example/integration/integrationtest_lhs.vcf.gz.tbi
example/integration/integrationtest_rhs.vcf.gz
example/integration/integrationtest_rhs.vcf.gz.tbi
*.pyc
external/zlib-1.2.8
.clang_complete
*~
*.swp
*.swo
compile_commands.json
tags
tags_sorted_by_file
.tags
.tags_sorted_by_file
cmake-build-debug
cmake-build-release
build
