cmake_install.cmake
progress.marks
Makefile
flags.make
progress.make
CMakeCache.txt
CMakeFiles
bin/haplotypes
.idea
example/integration/integrationtest_lhs.vcf.gz
example/integration/integrationtest_lhs.vcf.gz.tbi
example/integration/integrationtest_rhs.vcf.gz
example/integration/integrationtest_rhs.vcf.gz.tbi
*.pyc
.clang_complete
*~
*.swp
*.swo
compile_commands.json
tags
tags_sorted_by_file
.tags
.tags_sorted_by_file
*.sublime-project
*.sublime-workspace
Thumbs.db
/bin
/lib
/include
/nbproject
/cmake-build-debug
/build
/.vscode